--- 
title: Overview
---

.hero-unit
  %h1 SPORE
  %p Specifications for a Portable REST Environment

%blockquote
  %p 
    SPORE is a way to describe public services HTTP APIs such as 
    %a{ :href => "http://github.com/SPORE/api-description/blob/master/services/twitter.json" } Twitter 
    or applications with an HTTP interface such as 
    %a{ :href => "http://github.com/SPORE/api-description/blob/master/apps/couchdb.json" } Apache CouchDB 
    using a simple language-agnostic JSON document that can be used by various language-specific implementations to dynamically or statically generate high level client objects.


